.movie-card {
    max-width: 387px;
    max-width: 387px;
    height: 245px;
    margin: 0;
    padding: 0;
    padding-right: 10px;
    outline: #0adcf8 solid 2px;
    font-size: 10px;
    display: flex;
    background-color: rgb(245, 245, 245);
  }
  @media (min-width: 1024px) {
    .movie-card {
      max-width: 454px;
      min-width: 454px;
      height: 281px;
      font-size: 12px;
    }
  }
  
  .vote-average {
    transform: translateX(5px);
  }
  
  .title {
    max-width: 200px;
    font-size: inherit;
  }
  
  .date {
    font-size: inherit;
  }
  
  
  .tag-list {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    margin-bottom: 14px;
    font-size: inherit;
  }
  
  .tag {
    font-size: inherit;
  }
  
  .description {
    white-space: 'pre-wrap';
  }
  .title {
    max-width: 200px;
    font-size: inherit;
  }
  

  @media (min-width: 1024px) {
    .title {
      max-width: 228px;
    }
    .description {
      max-width: 228px;
    }
  }