.app {
    margin: 20px auto;
    padding: 10px;
    background-color: hsl(0, 0%, 65%);
    border-radius: 8px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 420px;
    max-width: 420px;
  } 
  @media (min-width: 1024px) {
    .app {
      max-width: 1010px;
    }
  }